.landing {
    background-image: url('/public/cow background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-app-button {
    padding: 10px 20px;
    background-color: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}